<mat-toolbar>
  
</mat-toolbar>
<mat-card class="bg-img">
  <div class="center_login">
    <h1>LOG IN</h1>
    <div class="textbox">
      <p>Login Name :</p>
      <input placeholder="Username" [(ngModel)]="userName" name="userName" required >
    </div>
    <div class="textbox">
      <p>Password :</p>
      <input placeholder="Password" [(ngModel)]="password" type="password" name="password" required >

    </div>
   <div><button class="button" (click)="login()">Sign IN</button> </div>
   <div><button class="signup" (click)="login()">Sign Up</button> </div>
       
      <div class="alert alert-danger alert-dismissible " *ngIf="iserror">
    
        <strong> {{errorMessage}}</strong>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div> 
  </div>
  

</mat-card>