<mat-toolbar>

</mat-toolbar>
<mat-card class="bg-img">
  <div class="center_login">
    <h1>LOG IN</h1>
    <div class="textbox">
      <p>Login Name :</p>
      <input placeholder="Username" [(ngModel)]="userName" name="userName" required>
    </div>
    <div class="textbox">
      <p>Password :</p>
      <input placeholder="Password" [(ngModel)]="password" type="password" name="password" required>

    </div>
   
      <button class="button" (click)="login()">Login</button>
   
  </div>



</mat-card>