.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-events {
  width: 300px;
  height: 200px;
  overflow: auto;
  border: 1px solid #555;
}
.sidemenu{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  position: fixed;
  width: 260px;
  height: 100%;
  background: #042331;

  
}
.sidemenu header{
  font-size: 22px;
  color: white;
  text-align: center;
  letter-spacing: 2px;
  line-height: 65px;
  background: #063146;
  user-select: none;
}
.sidemenu ul a{
display: block;
height: 100%;
width: 100%;
line-height: 70px;
color: white;
padding-left: 40px;

font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
line-height-step: 15px;
box-sizing: border-box;
border-top: 1px solid rgb(255,255,255,0.1);
border-bottom: 1px solid black;
transition: 1s;
   
}

ul li:hover a{
  padding-left: 40px;
  
}
.sidemenu ul a i{
  margin-left: 15px;

}
.welcome-banner{
  width: 100%;
  background-color: #063146;
  line-height: 40px;
  color: aliceblue;
  font-size: 22px;  
  text-align: center;
  letter-spacing: 2px;
  line-height: 65px;
  user-select: none;
}

.lastportion-banner{
  background-color: #063146;
  line-height: 40px;
  color: aliceblue;
  font-size: 22px;  
  text-align: center;
  letter-spacing: 2px;
  line-height: 65px;
  user-select: none;
}
.image{
  width: 60%;
  height: 50%;
  box-sizing: border-box;
border-top: 1px solid rgb(255,255,255,0.1);
}